#gameboard{
  width: 320px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;

}

.square{
  height: 40px;
  width: 40px;
  position: relative
}

.beige{
  background-color: rgb(149, 149, 122);
}

.brown{
  background-color: brown;
}

.square svg {
  height: 30px;
  width: 30px;
  margin: 5px;
  position: relative;
  z-index: -9;
}

path{
  position: relative;
  z-index:-10;
}

.piece{
  position: relative;
  z-index: 9 ;
}
.black{
  fill: black;
}

.white{
  fill: white
}